<!DOCTYPE html>
<html>
    <head>
        <title>Pomoc humanitarna</title>
        <style>
            body{
                font-size: 35px;
            }
            td{
                border: 1px solid black;
            }
            input.check{
                width: 40px;
                height: 40px
            }
            input.num{
                font-size: 35px;
            }

            button{
                font-size: 35px;
            }
            .tak{
                background-color: lime;
            }
            .nie{
                background-color: red;
                color: white;
            }
            .wczoraj{
                background-color: yellow;
            }
            .przedwczoraj{
                background-color: rgb(255, 136, 0);
            }
        </style>
    </head>
    <body>
        <header>
            <h2>System weryfikacji pomocy humanitarnej dla uchodźców.</h2>
            Dzisiaj jest <%= data%>
        </header>
        <article>
            <form action="/wydaj" method="GET">
                <input class="num" type="text" name="numer" placeholder="Podaj numer osoby" value="<%= numer%>"></textarea>
                <%if(blad == 'true'){%>
                    <span style="color: red;">Podano za krótki numer</span>
                    <%}%><br/>
                Należy podać pełny numer, np. 0035, 0007, 0492<br/>
                <input class="check" type="checkbox" name="zywnosc">Wydać żywność?
                <input class="check" type="checkbox" name="chemia">Wydać chemię?
                <input class="check" type="checkbox" name="inne">Wydać inne?<br/><br/>
                <input class="check" type="checkbox" name="mleko">Wydać mleko?
                <input class="check" type="checkbox" name="olej">Wydać olej?
                <input class="check" type="checkbox" name="maka">Wydać mąke?
                <input class="check" type="checkbox" name="cukier">Wydać cukier?<br/><br/>
                Dodatkowe wyniki po szukanym numerze
                <input class="num" type="number" name="dlugosc" value="<%= dlugosc%>" min="0" max="10"><br/>
                (0 wyświetli tylko szukany numer)<br/>
                <button type="submit" name="szukaj" value="on">Szukaj</button>
                <button type="submit" name="wydaj" value="on">Wydaj</button>
            </form>
            
            <h4>Lista numerów uchodźców</h4>
            <table>
                <tr>
                    <th>Numer</th>
                    <th>Skorzystano<br/> ile razy</th>
                    <th>Wydano żywność?</th>
                    <th>Wydano chemię?</th>
                    <th>Wydano inne?</th>
                </tr>
                <% for(var i=0; i<tabela.length; i++) {%>
                    <tr>
                        <td>UA/<%= tabela[i].numer %>/2022</td>
                        <td><%= tabela[i].ile %></td>
                        <%if(tabela[i].zywnosc >= dataT){%>
                            <td class="tak">
                        <%}else{%>
                            <td class="nie">
                        <%}%>
                            <%if(tabela[i].zywnosc >= 4){%>
                                pt,    
                            <%}%>
                            <%if(tabela[i].zywnosc % 4 >= 2){%>
                                     
                            <%}%>
                            <%if(tabela[i].zywnosc % 4 % 2 >= 1){%>
                                Wydano    
                            <%}%>
                            </td>
                        <%if(tabela[i].chemia >= dataT){%>
                            <td class="tak">
                        <%}else{%>
                            <td class="nie">
                        <%}%>
                            <%if(tabela[i].chemia >= 4){%>
                                pt,    
                            <%}%>
                            <%if(tabela[i].chemia % 4 >= 2){%>
                                     
                            <%}%>
                            <%if(tabela[i].chemia % 4 % 2 >= 1){%>
                                Wydano    
                            <%}%>
                            </td>
                        <%if(tabela[i].inne >= dataT){%>
                            <td class="tak">
                        <%}else{%>
                            <td class="nie">
                        <%}%>
                            <%if(tabela[i].inne >= 4){%>
                                pt,    
                            <%}%>
                            <%if(tabela[i].inne % 4 >= 2){%>
                                     
                            <%}%>
                            <%if(tabela[i].inne % 4 % 2 >= 1){%>
                                Wydano    
                            <%}%>
                            </td>
                    </tr>
                    <%if (tabela.length < 12){%>
                        <tr>
                            <th>Szczegóły</th>
                            <%if(tabela[i].mleko >= dataT){%>
                                <td class="tak"> Mleko:
                            <%}else{%>
                                <td class="nie"> Mleko:
                            <%}%>
                                <%if(tabela[i].mleko >= 4){%>
                                    pt,    
                                <%}%>
                                <%if(tabela[i].mleko % 4 >= 2){%>
                                         
                                <%}%>
                                <%if(tabela[i].mleko % 4 % 2 >= 1){%>
                                    Wydano    
                                <%}%>
                                </td>
                            <%if(tabela[i].olej >= dataT){%>
                                <td class="tak"> Olej:
                            <%}else{%>
                                <td class="nie"> Olej:
                            <%}%>
                                <%if(tabela[i].olej >= 4){%>
                                    pt,    
                                <%}%>
                                <%if(tabela[i].olej % 4 >= 2){%>
                                         
                                <%}%>
                                <%if(tabela[i].olej % 4 % 2 >= 1){%>
                                    Wydano    
                                <%}%>
                                </td>
                            <%if(tabela[i].maka >= dataT){%>
                                <td class="tak"> Mąka:
                            <%}else{%>
                                <td class="nie"> Mąka:
                            <%}%>
                                <%if(tabela[i].maka >= 4){%>
                                    pt,    
                                <%}%>
                                <%if(tabela[i].maka % 4 >= 2){%>
                                         
                                <%}%>
                                <%if(tabela[i].maka % 4 % 2 >= 1){%>
                                    Wydano    
                                <%}%>
                                </td>
                            <%if(tabela[i].cukier >= dataT){%>
                                <td class="tak"> Cukier: 
                            <%}else{%>
                                <td class="nie"> Cukier: 
                            <%}%>
                                <%if(tabela[i].cukier >= 4){%>
                                    pt,    
                                <%}%>
                                <%if(tabela[i].cukier % 4 >= 2){%>
                                         
                                <%}%>
                                <%if(tabela[i].cukier % 4 % 2 >= 1){%>
                                    Wydano    
                                <%}%>
                                </td>
                        </tr>
                    <%}%>
                <% } %>
            </table>
            <div><h4>Podsumowanie</h4>
                <ul>
                    <li>Wydana łącznie żywność: <%= raport[0]%>
                        <ul>
                            <li>Wydano łącznie mleko: <%= raport[1]%></li>
                            <li>Wydano łącznie olej: <%= raport[2]%></li>
                            <li>Wydano łącznie mąka: <%= raport[3]%></li>
                            <li>Wydano łącznie cukier: <%= raport[4]%></li>
                        </ul>
                    </li>
                    <li>Wydana łącznie chemia: <%= raport[5]%></li>
                    <li>Wydane łącznie inne pomoce: <%= raport[6]%></li>
                </ul>
            </div>
        </article>
        <footer>
           <br/> Autor: OSP Mińsk Mazowiecki, Kamil Wojciechowski
        </footer>
    </body>
</html>