<!DOCTYPE html>
<html>
    <head>
        <title>Pomoc humanitarna</title>
        <style>
            body{
                font-size: 35px;
            }
            td{
                border: 1px solid black;
            }
            input.check{
                width: 40px;
                height: 40px
            }
            input.num{
                font-size: 35px;
            }
            button{
                font-size: 35px;
            }
            .tak{
                background-color: lime;
            }
            .nie{
                background-color: red;
                color: white;
            }
            .wczoraj{
                background-color: orange;
            }
        </style>
    </head>
    <body>
        <header>
            <h2>System weryfikacji pomocy humanitarnej dla uchodźców.</h2>
            Dzisiaj jest <%= data%>
        </header>
        <article>
            <form action="/wydaj" method="GET">
                <input class="num" type="text" name="numer" placeholder="Podaj numer osoby" value="<%= numer%>"></textarea>
                <%if(blad == 'true'){%>
                    <span style="color: red;">Podano za krótki numer</span>
                    <%}%><br/>
                Należy podać pełny numer, np. 0035, 0007, 0492<br/>
                <input class="check" type="checkbox" name="obiad">Wydać obiad?
                <input class="check" type="checkbox" name="zywnosc">Wydać żywność?<br/>
                <input class="check" type="checkbox" name="chemia">Wydać chemię?
                <input class="check" type="checkbox" name="inne">Wydać inne?<br/><br/>
                <button type="submit" name="szukaj" value="on">Szukaj</button>
                <button type="submit" name="wydaj" value="on">Wydaj</button>
            </form>
            <h4>Zapasy w magazynach</h4>
            <table>
                <tr>
                    <th>Punkt</th>
                    <th>Mleko</th>
                    <th>Kasza</th>
                    <th>Mąka</th>
                    <th>Olej</th>
                    <th>Cukier</th>
                    <th>Konserwy</th>
                </tr>
                <% for(var i=0; i<punkty.length; i++) {%>
                    <tr>
                        <form action="/zapasy" method="GET">
                        <td><%= punkty[i].nazwa %></td>
                        <%if(punkty[i].mleko == "nie"){%>
                            <td><input class="check" type="checkbox" name="mleko">W zapasie</td>
                        <%}else{%>
                            <td><input class="check" type="checkbox" name="mleko" checked>W zapasie</td>
                        <%}%>
                        <%if(punkty[i].kasza == "nie"){%>
                            <td><input class="check" type="checkbox" name="kasza">W zapasie</td>
                        <%}else{%>
                            <td><input class="check" type="checkbox" name="kasza" checked>W zapasie</td>
                        <%}%>
                        <%if(punkty[i].maka == "nie"){%>
                            <td><input class="check" type="checkbox" name="maka">W zapasie</td>
                        <%}else{%>
                            <td><input class="check" type="checkbox" name="maka" checked>W zapasie</td>
                        <%}%>
                        <%if(punkty[i].olej == "nie"){%>
                            <td><input class="check" type="checkbox" name="olej">W zapasie</td>
                        <%}else{%>
                            <td><input class="check" type="checkbox" name="olej" checked>W zapasie</td>
                        <%}%>
                        <%if(punkty[i].cukier == "nie"){%>
                            <td><input class="check" type="checkbox" name="cukier">W zapasie</td>
                        <%}else{%>
                            <td><input class="check" type="checkbox" name="cukier" checked>W zapasie</td>
                        <%}%>
                        <%if(punkty[i].konserwy == "nie"){%>
                            <td><input class="check" type="checkbox" name="konserwy">W zapasie</td>
                        <%}else{%>
                            <td><input class="check" type="checkbox" name="konserwy" checked>W zapasie</td>>
                        <%}%>
                            <td><button type="submit" name="punkt" value="<%= punkty[i].nazwa%>">Zaktualizuj</button></td>
                        </form>
                    </tr>
                <% } %>
            </table>
            
            <h4>Lista numerów uchodźców</h4>
            <table>
                <tr>
                    <th>Numer</th>
                    <th>Wydano obiad?</th>
                    <th>Wydano żywność?</th>
                    <th>Wydano chemię?</th>
                    <th>Wydano inne?</th>
                </tr>
                <% for(var i=0; i<tabela.length; i++) {%>
                    <tr>
                        <td>UA/<%= tabela[i].numer %>/2022</td>
                        <%if(dataT == tabela[i].obiad){%>
                            <td class="tak">dzisiaj</td>
                        <%}else{if(dataT == tabela[i].obiad+1){%>
                            <td class="wczoraj">wczoraj</td>
                        <%}else{%>
                            <td class="nie">nie</td>
                        <%}}%>
                        <%if(dataT == tabela[i].zywnosc){%>
                            <td class="tak">dzisiaj</td>
                            <%}else{if(dataT == tabela[i].zywnosc+1){%>
                                <td class="wczoraj">wczoraj</td>
                            <%}else{%>
                                <td class="nie">nie</td>
                            <%}}%>
                        <%if(dataT == tabela[i].chemia){%>
                            <td class="tak">dzisiaj</td>
                            <%}else{if(dataT == tabela[i].chemia+1){%>
                                <td class="wczoraj">wczoraj</td>
                            <%}else{%>
                                <td class="nie">nie</td>
                            <%}}%>
                        <%if(dataT == tabela[i].inne){%>
                            <td class="tak">dzisiaj</td>
                            <%}else{if(dataT == tabela[i].inne+1){%>
                                <td class="wczoraj">wczoraj</td>
                            <%}else{%>
                                <td class="nie">nie</td>
                            <%}}%>
                    </tr>
                <% } %>
            </table>
            <div><h4>Podsumowanie</h4>
                Wydane łącznie obiady: <%= raport[0]%><br/>
                Wydana łącznie żywność: <%= raport[1]%><br/>
                Wydana łącznie chemia: <%= raport[2]%><br/>
                Wydane łącznie inne pomoce: <%= raport[3]%><br/>
            </div>
        </article>
        <footer>
           <br/> Autor: OSP Mińsk Mazowiecki, Kamil Wojciechowski
        </footer>
    </body>
</html>