<!DOCTYPE html>
<html>
    <head>
        <title>Pomoc humanitarna</title>
        <style>
            body{
                font-size: 35px;
            }
            td{
                border: 1px solid black;
            }
            input.check{
                width: 40px;
                height: 40px
            }
            input.num{
                font-size: 35px;
            }
            button{
                font-size: 35px;
            }
            .tak{
                background-color: lime;
            }
            .nie{
                background-color: red;
                color: white;
            }
            .wczoraj{
                background-color: orange;
            }
        </style>
    </head>
    <body>
        <header>
            <h2>System weryfikacji pomocy humanitarnej dla uchodźców.</h2>
            Dzisiaj jest <%= data%>
        </header>
        <article>
            <form action="/wydaj" method="GET">
                <input class="num" type="text" name="numer" placeholder="Podaj numer osoby" value="<%= numer%>"></textarea><br/>
                Podczas wydawania należy podać pełny numer, np. 0035, 0007, 0492<br/>
                <input class="check" type="checkbox" name="obiad">Wydać obiad?
                <input class="check" type="checkbox" name="zywnosc">Wydać żywność?<br/>
                <input class="check" type="checkbox" name="chemia">Wydać chemię?
                <input class="check" type="checkbox" name="inne">Wydać inne?<br/><br/>
                <button type="submit" name="szukaj" value="on">Szukaj</button>
                <button type="submit" name="wydaj" value="on">Wydaj</button>
            </form>
            <table>
                <tr>
                    <th>Numer</th>
                    <th>Wydano obiad?</th>
                    <th>Wydano żywność?</th>
                    <th>Wydano chemię?</th>
                    <th>Wydano inne?</th>
                </tr>
                <% for(var i=0; i<tabela.length; i++) {%>
                    <tr>
                        <td>UA/<%= tabela[i].numer %>/2022</td>
                        <%if(dataT == tabela[i].obiad){%>
                            <td class="tak">dzisiaj</td>
                        <%}else{if(dataT == tabela[i].obiad+1){%>
                            <td class="wczoraj">wczoraj</td>
                        <%}else{%>
                            <td class="nie">nie</td>
                        <%}}%>
                        <%if(dataT == tabela[i].zywnosc){%>
                            <td class="tak">dzisiaj</td>
                            <%}else{if(dataT == tabela[i].zywnosc+1){%>
                                <td class="wczoraj">wczoraj</td>
                            <%}else{%>
                                <td class="nie">nie</td>
                            <%}}%>
                        <%if(dataT == tabela[i].chemia){%>
                            <td class="tak">dzisiaj</td>
                            <%}else{if(dataT == tabela[i].chemia+1){%>
                                <td class="wczoraj">wczoraj</td>
                            <%}else{%>
                                <td class="nie">nie</td>
                            <%}}%>
                        <%if(dataT == tabela[i].inne){%>
                            <td class="tak">dzisiaj</td>
                            <%}else{if(dataT == tabela[i].inne+1){%>
                                <td class="wczoraj">wczoraj</td>
                            <%}else{%>
                                <td class="nie">nie</td>
                            <%}}%>
                    </tr>
                <% } %>
            </table>
            <div><h4>Podsumowanie</h4>
                Wydane łącznie obiady: <%= raport[0]%><br/>
                Wydana łącznie żywność: <%= raport[1]%><br/>
                Wydana łącznie chemia: <%= raport[2]%><br/>
                Wydane łącznie inne pomoce: <%= raport[3]%><br/>
            </div>
        </article>
        <footer>
           <br/> Autor: OSP Mińsk Mazowiecki, Kamil Wojciechowski
        </footer>
    </body>
</html>